---
import Input from "../../components/Input.astro";
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Login | Karhutla">
    <div class="flex flex-col items-center gap-10 h-screen justify-center">
      <h1 class="font-[Walkind] text-4xl tracking-wide">Karhutla</h1>
      <div class="flex flex-col gap-3">
        <Input placeholder="Masukan username/email" class="border-orange-600 px-5 w-[290px]" />
        <Input placeholder="Masukan password" class="border-orange-600 px-5 w-[290px]" />
        <div class="flex flex-col items-center mt-5">
          <h1 id="curr-pos" class="px-2 py-1 shadow-md w-fit mx-auto shadow-orange-500/10 border border-orange-600 rounded-lg md:cursor-pointer">Masuk</h1>
        </div>
        <h1 class="mt-5 text-sm mx-auto">
          Belum punya akun?{' '}
          <a href="/auth/register" class="underline">Daftar sekarang.</a>
        </h1>
      </div>
    </div>
</Layout>