---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
---

<script src={`https://maps.googleapis.com/maps/api/js?key=${import.meta.env.GMAPS_KEY}&callback=initGoogleMap`} async defer></script>

<Layout title="Karhutla">
	<Container>
		
	</Container>
  <div id="google-map" style="height: 800px; width:"></div>
</Layout>

<script type="text/javascript">
  var googleMap;
  function initGoogleMap() {
    googleMap = new google.maps.Map(document.getElementById("google-map"), {
      center: { lat: 0.537488, lng: 101.448387 },
      zoom: 10,
    });
  }
</script>
