---
interface Props {
  title?: string;
}

let props = Astro.props;
---
<nav class="flex flex-row w-full items-center p-4 justify-between border-b border-black pb-4">
  <h1>{props.title ?? 'Dashboard'}</h1>
  <slot />
</nav>