---
export const prerender = true;
import ThemeProvider from '../components/theme-provider';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link href="https://fonts.cdnfonts.com/css/walkind" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/mooli" rel="stylesheet" />
    <link href="https://fonts.cdnfonts.com/css/poppins" rel="stylesheet" />
	  <script src={`https://maps.googleapis.com/maps/api/js?key=${import.meta.env.GMAPS_KEY}&callback=initMap`} async defer></script>
    <title>{title}</title>
  </head>
  <style>
    body {
      @apply font-[poppins];
    }
    .hide-scroll::-webkit-scrollbar {
      @apply h-0 w-0;
    }
    .hide-scroll::-webkit-scrollbar-thumb {
      @apply !rounded-none;
    }
  </style>
  <body>
    <ThemeProvider>
      <slot />
    </ThemeProvider>
  </body>
</html>
